<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- mvp.css cdn -->
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container mx-auto wide">
      <h1 class="text-center">{{ subtitle }}</h1>
      <form autocomplete="off" id="user-form">
        <fieldset>
          <legend>사용자 등록</legend>
          <div>
            <label for="user-name">이름</label>
            <input type="text" id="username" name="username" />
          </div>
          <div>
            <label for="age">나이</label>
            <input type="number" id="age" name="age" />
          </div>
          <div class="d-flex align-center">
            <label for="married">기혼</label>
            <input type="checkbox" id="married" name="married" />
          </div>
          <input type="submit" value="등록" />
        </fieldset>
      </form>
    </div>
    <!-- /# user-form -->
    <div class="wide mx-auto my-2">
      <table id="user-list">
        <thead>
          <tr>
            <th>연번</th>
            <th>이름</th>
            <th>나이</th>
            <th>기혼여부</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ "기혼" if user.married else "미혼" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
