@charset "utf-8";

html {
  font-size: 20px;
}
fieldset {
  border: 0;
}
legend {
  display: none;
}
table {
  display: table;
  width: 100%;
}
th,
td {
  text-align: center !important;
}
.container {
  max-width: 100%;
}
.mx-auto {
  margin: 0 auto;
}
.wide {
  width: 40rem;
}
.wide form {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
